name: Terraform CI (Plan)

on:
  pull_request:
    branches:
      - main

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      #  Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      #  Terraform Init
      - name: Terraform Init
        run: terraform init -input=false

      #  Terraform Validate
      - name: Terraform Validate
        run: terraform validate

      #  Terraform Plan
      - name: Terraform Plan
        run: terraform plan

